
  <article class="chat-line" id="<%= dom_id message %>">
    <span class="speaker"><%=message.user.myfirstname%></span>
    <span class="body"><%=message.content%></span>
                                                                                                                                      </article>
