<div id="<%= dom_id pair_node %>">
  <p>
    <strong>Mac1:</strong>
    <%= link_to pair_node.mac1.name, pair_node.mac1 %>
  </p>

  <p>
    <strong>Mac2:</strong>
    <%= link_to pair_node.mac2.name, pair_node %>
  </p>

</div>
