<h1>Editing pair node</h1>

<%= render "form", pair_node: @pair_node %>

<br>

<div>
  <%= link_to "Show this pair node", @pair_node %> |
  <%= link_to "Back to pair nodes", pair_nodes_path %>
</div>
