<div id="<%= dom_id myswitch_table %>">
  <p>
    <strong>Mac :</strong>
    <%= link_to myswitch_table.mac.name, myswitch_table.mac %>
  </p>

  <p>
    <strong>Port :</strong>
    <%= myswitch_table.port %>
  </p>

  <p>
    <strong>Switch :</strong>
    <%= link_to myswitch_table.switch.name, myswitch_table.switch %>
  </p>

</div>
