<div id="<%= dom_id myswitch_table %>">
  <p>
    <strong>Mac:</strong>
    <%= myswitch_table.mac.name %>
  </p>

  <p>
    <strong>Port:</strong>
    <%= myswitch_table.port %>
  </p>

  <p>
    <strong>Switch:</strong>
    <%= myswitch_table.switch.name %>
  </p>

</div>
