<h1>Editing myswitch table</h1>

<%= render "form", myswitch_table: @myswitch_table %>

<br>

<div>
  <%= link_to "Show this myswitch table", @myswitch_table %> |
  <%= link_to "Back to myswitch tables", myswitch_tables_path %>
</div>
