<h1>Editing ip address</h1>

<%= render "form", ip_address: @ip_address %>

<br>

<div>
  <%= link_to "Show this ip address", @ip_address %> |
  <%= link_to "Back to ip addresses", ip_addresses_path %>
</div>
