<div id="<%= dom_id traffic_info %>">
  <p>
    <strong>Source:</strong>
    <%= traffic_info.source.name %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= traffic_info.destination.name %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= traffic_info.time %>
  </p>

</div>
