<div id="<%= dom_id traffic_info %>">
  <p>
    <strong>Source:</strong>
    <%= link_to traffic_info.source.name, traffic_info.source %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= link_to traffic_info.destination.name, traffic_info.destination %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= traffic_info.time %>
  </p>

</div>
