<h1>Editing traffic info</h1>

<%= render "form", traffic_info: @traffic_info %>

<br>

<div>
  <%= link_to "Show this traffic info", @traffic_info %> |
  <%= link_to "Back to traffic infos", traffic_infos_path %>
</div>
