<div id="<%= dom_id programminglanguage %>" style="max-width:300px;">
  <img src="/uploads/<%= programminglanguage.image %>" width="100%" height="100%"/>
  <p>
    <%= programminglanguage.name %>
  </p>


</div>
