<div id="<%= dom_id computerhacking %>">
  <p>
    <strong>Name:</strong>
    <%= computerhacking.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= computerhacking.description %>
  </p>

</div>
