<h1>Editing computerhacking</h1>

<%= render "form", computerhacking: @computerhacking %>

<br>

<div>
  <%= link_to "Show this computerhacking", @computerhacking %> |
  <%= link_to "Back to computerhackings", computerhackings_path %>
</div>
