<h1>Editing commandline</h1>

<%= render "form", commandline: @commandline %>

<br>

<div>
  <%= link_to "Show this commandline", @commandline %> |
  <%= link_to "Back to commandlines", commandlines_path %>
</div>
